QSplitter::splitter::handle {
    background-color: red;
    border-radius: 5px;
}

QSplitter::splitter::handle:horizontal {
    width: 10px;
}

QSplitter::splitter::handle:vertical {
    height: 10px;
}
